<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading" style="text-align:center;font-size:24px;">Species Movement Log</div>
            <div class="panel-body">
                <button class="btn-primary btn-block btn-lg">
                    Setup Quarantine Period
                </button>
                <button class="btn-primary btn-block btn-lg">
                    Tank Log Registry
                </button>
                <button class="btn-primary btn-block btn-lg">
                    Daily Mortilty Registry
                </button>
            </div>
        </div>
    </div>
    <!--
    <div class="col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading" style="text-align:center;font-size:24px;">Tank Info Setup</div>
            <div class="panel-body">
                <button class="btn-primary btn-block btn-lg">
                    Setup Bay / Bank / Aisle
                </button>
                <button class="btn-primary btn-block btn-lg">
                    Tank Registry
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading" style="text-align:center;font-size:24px;">System</div>
            <div class="panel-body">
                <button class="btn-primary btn-block btn-lg">
                    MPI Approved Species
                </button>
                <button class="btn-primary btn-block btn-lg">
                    Mortality Reason
                </button>
                <button class="btn-primary btn-block btn-lg">
                    Marine Size
                </button>

            </div>
        </div>
    </div>-->
</div>



