@{
    ViewData["Title"] = "Purchase Order Registry";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="row">
        <p><button type="button" class="btn btn-block btn-lg">Import Order</button></p>
        <p><button type="button" class="btn btn-block btn-lg">Order Registry</button></p>
        @*
        <p><button type="button" class="btn btn-block btn-lg">Pre-shipment Checklist Registry</button></p>
        <p><button type="button" class="btn btn-block btn-lg">Clean Audit Registry</button></p>
        *@
    </div>
</div>