@{
    ViewData["Title"] = "Quarantine Registry";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="row">
        <p><button type="button" class="btn btn-block btn-lg">Quarantine Record Registry</button></p>
        <p><button type="button" class="btn btn-block btn-lg">Quarantine Period Registry</button></p>
        <p><button type="button" class="btn btn-block btn-lg">Martality Reason Registry</button></p>
    </div>
</div>