@{
    ViewData["Title"] = "System Registry";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="row">

        <p><button type="button" class="btn btn-block btn-lg"
                   onclick="location.href='@Url.Action("Index", "MarineSpecies")'" >Species Registry</button></p>
        <p><button type="button" class="btn btn-block btn-lg">Species Size Registry</button></p>
        <p><button type="button" class="btn btn-block btn-lg">Bay/Bank/Aisle Registry</button></p>
        <p><button type="button" class="btn btn-block btn-lg">Tank Record Registry</button></p>
        <p><button type="button" class="btn btn-block btn-lg">Quarantine Period Registry</button></p>
        <p><button type="button" class="btn btn-block btn-lg">Martality Reason Registry</button></p>
    </div>
</div>
