@{
    ViewBag.Title = "System Page";
}

<div class="jumbotron">
    <h1 class="main">System Menu</h1>
    <p class="lead"></p>
    <!--
    <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
     -->
</div>

<div class="row">
    <div class="col-md-3">
        <!-- <h2>System Menu</h2>  -->
        
        <p>
            <input type="button" class='bigClickButton'
                   value="Marine Classification &raquo;" onclick="location.href='@Url.Action("Index", "MARINE_CLASS")'" />
            <!--  @Html.ActionLink("MARINE_CLASS", "Index", "MARINE_CLASS")  -->
            
        </p>
        <p>
            <input type="button" class='bigClickButton'
                   value="Marine Family &raquo;" onclick="location.href='@Url.Action("Index", "MARINE_FAMILY")'" />
        </p>
        <p>
            <input type="button" class='bigClickButton'
                   value="Marine Species &raquo;" onclick="location.href='@Url.Action("Index", "MARINE_SPECIES")'" />
        </p>
        <!-- <p><a class="btn btn-default">Click Me &raquo;</a></p>     -->
        
    </div>
    <!--
    <div class="col-md-4">
        <h2>Menu 2</h2>
        <p></p>
        <p><a class="btn btn-default">Click Me&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Menu 3</h2>
        <p></p>
        <p><a class="btn btn-default">Click Me&raquo;</a></p>
    </div>
        -->
</div>